p1
p2
p1e2
p2e2
p1e3

# Archivos ejecutables
*.exe
*.out
*.app

# Archivos objeto y archivos generados durante la compilación
*.o
*.obj

# Archivos generados por herramientas de compilación
*.dll
*.so
*.dylib